.center {
    text-align: center;
}

.overflow-scroll {
    overflow: auto;
}

.overflow-scroll::-webkit-scrollbar {
    display: none;
}

.overflow-scroll {
    -ms-overflow-style: none;
}

.height-200 {
    height: 200px;
}

.btn-close {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    transition: all .5s;
}

.btn-close:hover {
   color: darkred;
    transition: all .5s;
}

.message {
    font-size: 15px;
    color: white;
    margin-top: 20px;
}