* {
    border-radius: 0 !important;
}

@font-face {
    font-family: BuffordRustic;
    src: url('./assets/fonts/Burford Rustic/Burford Rustic Book Black.woff');
}

@font-face {
    font-family: BuffordRusticLight;
    src: url('./assets/fonts/Burford Rustic/BurfordRusticLineLight.otf');
}

.center {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.font-family-bufford-light {
    font-family: BuffordRusticLight;
}

.header {
    font-family: BuffordRustic;
    color: white;
}

.font-60 {
    font-size: 60px;
}

.font-40 {
    font-size: 40px;
}